* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  background-color: palevioletred;
  align-items: center;
  justify-content: space-between;
}

.box {
  padding: 0.5rem;
  background-color: #ffd5c2;
  width: 50%;
  height: fit-content;
  margin: 0.2rem;
}

.other-box {
  width: 100%;
}
